<!DOCTYPE html>
<html>

<head>
    <title>Football Teams Worldwide</title>
</head>

<body>
    <h1>Enter Your Team Details</h1>
    <form method="post" action="/addteam">
        <label>Enter Your Team</label><br>
        <input type="text" name="teamName" placeholder="Enter Team Name..." required>
        <input type="text" name="stadiumName" placeholder="Enter Stadium Name..." required>
        <input type="number" name="teamSize" placeholder="Enter Team Size..." required>
        <input type="submit" value="Add Team">
    </form>
</body>

</html>